# git ignore les fichiers des repertoires suivants
.htpasswds/
Adapter/
Core/
blog/
cache/
cgi-bin
download/
img/
log/
tools/
upload/
webservice/
config/

# git ignore les ficheirs suivants
.htaccess

